# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Local databases
*.db
*.sqlite
*.sqlite3

# Audit log backups
audit_log_backup.json